extends layout

block content
    h2 Device  #{dev}

    #deviceInfo
        .block
        p Details #{data}

    button#btnDevData Show details...
    p#devData

block scripts
    script(src='/javascripts/device.js')

